.git
.gitignore
README.md
.env
.env.local
.env.*.local
docker/
docker-compose.yaml
compose.yaml
compose.override.yaml
var/cache/*
var/log/*
!var/cache/.gitkeep
!var/log/.gitkeep
vendor/
node_modules/
.phpunit.result.cache
coverage/
.DS_Store
Thumbs.db

